RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ $1.php
RewriteRule ^views/(.*)$ src/views/$1 [L]
RewriteRule ^controllers/(.*)$ src/controllers/$1 [L]
RewriteRule ^models/(.*)$ src/models/$1 [L]
RewriteRule ^DAO/(.*)$ src/DAO/$1 [L]