body {
    min-height: 100vh;
    margin: 0px;
    font-family: inter;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#containerLogin {
    display: flex;
    gap: 20px;
    flex-direction: column;
    min-width: 400px;
    width: 600px;
    height: 40vh;
    text-align: center;
    background-color: gray;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    width: 60%;
    height: 35px;
    background-color: green;
    font-family: inter;
    font-size: 24px;
    border-radius: 10px;
    margin-top: 20px;
}

input[type="text"],
[type="password"] {
    width: 85%;
    height: 21px;
    font-size: 18px;
    border-radius: 5px;
    border-width: 2px;
    font-family: inter;
}

@keyframes entrar {
    from {
        margin-left: 100%;
        width: 50%;
    }

    to {
        margin-left: 25%;
        width: 50%;
    }
}

#aviso {
    display: none;
    background-color: #4CAF50;
    width: 50%;
    color: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    animation-duration: 1s;
    animation-name: entrar;
    text-align: center;
    margin-left: 25%;
}